@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --body-bg-1:#949be1;
  --body-bg-2:#b3b5e9;
}

body{
  font-family: 'Open Sans', monospace;
  background: #f6e7d7;
  color: white;

  background: repeating-linear-gradient( -45deg, var(--body-bg-1), var(--body-bg-1) 50%, var(--body-bg-2)  5px, var(--body-bg-2)100% );
}


/* Autofill forms */
&:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: black;
  padding: 0.25rem;
    line-height: 1.75rem;
  -webkit-box-shadow: 0 0 0px 1000px #d4d4d4 inset;
  transition: background-color 5000s ease-in-out 0s;
  border-radius: 0.25rem;
}


/* Loading Spinner */
.loader {
  margin: 0 auto;
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid #6366f1;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1.75s linear infinite; /* Safari */
  animation: spin 1.75s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}






/*///////////////// Pages ///////////////////////*/


/* Posts Page */

.bg-Beginner{background-color: #404040;}
.bg-Easy{background-color: #15803d;}
.bg-Normal{background-color: #0369a1;}
.bg-Hard{background-color: #b45309;}
.bg-Expert{background-color: #b91c1c;}


/* Spinner */
.loader {
  border: 16px solid #e5e5e5; /* Light grey */
  border-top: 16px solid #818cf8; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

.loader-sm {
  border: 5px solid #e5e5e5; /* Light grey */
  border-top: 5px solid #818cf8; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin:0 auto;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

